@model List<InstallAndUseBootstrapInCoreMvc.Models.Student>
@{
    ViewBag.Title="Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Branch</th>
                <th>Section</th>
                <th>Gender</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.Name</td>
                    <td>@item.Branch</td>
                    <td>@item.Section</td>
                    <td>@item.Gender</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-primary">View</a>
                        <a href="#" class="btn btn-secondary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>